<div id='container'>
  <!-- Your html here -->
  <h1>Home Page</h1>
<!--   <a href="#/shorten">Go to Shorten</a>
  <a ng-click='signOut()'> Log Out </a>
  <h3> Search for a Link </h3>
  <input type="text" class="item" placeholder="" ng-model="search">
  <ul class="nav nav-pills nav-stacked">
  <div class='link'>
  <div ui-view></div>
  <li class="fx-fade-down" ng-repeat="data in datas | filter:search">

    <a class="link title"> <h5>{{ data.title }}</h5> </a> 
    <a class="link original"> {{ data.url }} </a> 
    <a href={{'/api/links/'+data.code}}>{{data.base_url+'/api/links/'+data.code}} </a> 
    <a class="link visits"> Visits: {{ data.visits }}</a>
  </li>
  </div>
  </ul> -->

</div>
